.all {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

/* .title {
  margin: 2vh;
  font-weight: bold;
  color: rgb(188, 191, 197);
} */

/* .devider {
  border: solid #000;
  border-width: 0.25vw;
  height: 86vh;
  background-color: #000;
} */
