.container {
  background-color: #000;
  height: 86vh;
  width: 46vw;
  overflow: hidden;
  position: relative;
}

.buttonOpen {
  z-index: 100;
  position: absolute;
  border-width: 0ch;
  width: 12vh;
  left: 27vh;
  /* background-color: transparent; */
  bottom: 12vh;
  -webkit-animation-name: OpenButton; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: OpenButton;
  animation-duration: 1s;
  height: 15vh;
  transform: scaleY(-1);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
@-webkit-keyframes OpenButton {
  from {
    transform: scaleY(1);
    bottom: -3vh;
  }
  to {
    transform: scaleY(-1);
    bottom: 12vh;
  }
}
@keyframes OpenButton {
  from {
    transform: scaleY(1);
    bottom: -3vh;
  }
  to {
    transform: scaleY(-1);
    bottom: 12vh;
  }
}

.buttonClosed {
  z-index: 100;
  position: absolute;
  border-width: 0ch;
  width: 12vh;
  left: 27vh;
  /* background-color: transparent; */
  bottom: -3vh;
  -webkit-animation-name: CloseButton; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: CloseButton;
  animation-duration: 1s;
  height: 15vh;
  transform: scaleY(1);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
@-webkit-keyframes CloseButton {
  from {
    transform: scaleY(1);
    bottom: 12vh;
  }
  to {
    transform: scaleY(1);
    bottom: -3vh;
  }
}
@keyframes CloseButton {
  from {
    transform: scaleY(-1);
    bottom: 12vh;
  }
  to {
    transform: scaleY(1);
    bottom: -3vh;
  }
}

.images {
  position: absolute;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.textBoxBottomOpen {
  -webkit-animation-name: OpenBox; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: OpenBox;
  animation-duration: 1s;
  height: 15vh;
  background-color: #dfebeb;
  position: absolute;
  bottom: 0vh;
  width: 45.8vw;
}
@-webkit-keyframes OpenBox {
  from {
    height: 0vh;
  }
  to {
    height: 15vh;
  }
}
@keyframes OpenBox {
  from {
    height: 0vh;
  }
  to {
    height: 15vh;
  }
}

.textBoxBottomClosed {
  -webkit-animation-name: CloseBox; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: CloseBox;
  animation-duration: 1s;
  height: 0vh;
  background-color: #dfebeb;
  position: absolute;
  bottom: 0vh;
  width: 45.8vw;
}
@-webkit-keyframes CloseBox {
  from {
    height: 15vh;
  }
  to {
    height: 0vh;
  }
}
@keyframes CloseBox {
  from {
    height: 15vh;
  }
  to {
    height: 0vh;
  }
}
